.navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;

    height:75px;

    background:#fff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px 0 90px;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

    z-index:100;
}

/* Move navbar when sidebar opens */
.navbar.sidebar-open{
    left:320px;
    width:calc(100% - 320px);
}

.navbar-left{
    display:flex;
    align-items:center;
    gap:15px;
    margin-left:70px;
}

.logo-circle{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#ff6b00;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
}

.navbar-left h2{
    margin:0;
    font-size:22px;
}

.navbar-left p{
    margin:0;
    color:#777;
    font-size:13px;
}

.navbar-search{
    width:350px;
    display:flex;
    align-items:center;
    gap:10px;
    background:#f4f6f9;
    padding:10px 15px;
    border-radius:12px;
}

.navbar-search input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.live-time{
    color:#666;
    font-size:14px;
}

.icon{
    font-size:20px;
    cursor:pointer;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile p{
    margin:0;
    font-size:12px;
    color:#777;
}

@media(max-width:768px){

    .navbar-search{
        display:none;
    }

    .live-time{
        display:none;
    }

    .navbar{
        margin-left:0 !important;
    }
}
.cart-icon-btn {
    width: 45px;
    height: 45px;

    border: none;
    border-radius: 12px;

    background: #16a34a;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 20px;

    transition: .3s;
}

.cart-icon-btn:hover {
    background: #15803d;
    transform: scale(1.05);
}