/* ===========================
   Sidebar
=========================== */
.sidebar{
    position:fixed;

    top:0;
    left:-260px;

    width:260px;
    height:100vh;

    background:#111827;

    color:white;

    transition:.3s;

    z-index:1100;
}

.sidebar.show{
    left:0;
}
/* ===========================
   Header
=========================== */

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  border-bottom: 1px solid #374151;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 22px;
}

.sidebar-header p {
  margin-top: 5px;
  color: #9ca3af;
  font-size: 13px;
}

/* ===========================
   Navigation
=========================== */

.nav-btn {
  display: flex;
  align-items: center;
  gap: 15px;

  width: calc(100% - 20px);
  margin: 8px 10px;

  padding: 14px 18px;

  border: none;
  border-radius: 10px;

  background: transparent;
  color: white;

  font-size: 16px;
  cursor: pointer;

  transition: 0.25s;
}

.nav-btn:hover {
  background: #16a34a;
}

.nav-btn svg {
  font-size: 20px;
}

/* ===========================
   Footer
=========================== */

.sidebar-footer {
  margin-top: auto;
  padding: 15px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #dc2626;
  color: white;

  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #b91c1c;
}

/* ===========================
   Hamburger
=========================== */

.menu-btn{
    position:fixed;
    top:15px;
    left:15px;

    width:52px;
    height:52px;

    border:none;
    border-radius:12px;

    background:#ff6b00;
    color:white;

    font-size:24px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    z-index:1200;
}

/* Move button with sidebar */
.menu-btn.move-btn{
    left:280px;
}

.menu-btn:hover {
  background: #15803d;
}

/* ===========================
   Close Button
=========================== */

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* ===========================
   Overlay
=========================== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 999;
}

/* ===========================
   Desktop
=========================== */

@media (min-width:768px){

    .overlay{
        display:none;
    }

}
.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 48px;
  height: 48px;
  background: #16a34a;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.nav-btn.active {
  background: #16a34a;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(22, 163, 74, 0.35);
}